.formulario-container {
    align-items: center;
    margin: 0 20px;
}

#formulario {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#formulario label {
    font-size: 12px;
    text-transform: uppercase;
}

#formulario input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cinza-claro);
    border-radius: 6px;
}

#formulario #data-mes {
    width: 22%;
    display: flex;
}

#formulario #data-ano {
    width: 20%;
    display: flex;
}

#formulario #cvc {
    margin-left: 10px;
}

.data-val-label {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.data-val-input {
    display: flex;
    gap: 8px;
    /* margin-left: 10px; */
}

#formulario input::placeholder {
    font-size: 16px;
    color: var(--cinza-claro);
}

#form-botao {
    background-color: var(--violeta);
    color: var(--branco);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 14px;
    margin: 50px 0;
    font-family: var(--fonte-principal);
    font-size: 16px;
    width: 100%;
}

#form-enviado {
    text-align: center;
}

#form-enviado h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--violeta);
    padding: 12px;
}

#form-enviado h2 {
    font-size: 16px;
    color: var(--cinza-escuro);
}

.none {
    display: none;
}

.apears {
    display: block;
}